body{
    box-sizing: border-box;
    margin: 0%;
    padding: 50px;
}


.discount{
    background-color: rgba(255, 255, 255, .3);
	padding: 28px;
	border-radius: 7px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
	width: 90%;
	margin: auto;
	max-width: 600px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}